{% extends 'base.html' %}
{% block menustyle%}
    "margin-left:-275px;"
{% endblock %}
{% block metadata %}

<!-- Google font-->
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">

<!-- Fontawesome css -->

<link href="{{ url_for('static', filename='be_assets/css/vendors/font-awesome.css') }}" rel="stylesheet">

<!-- Linear Icon -->
<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">


<!-- Themify icon css -->

<link href="{{ url_for('static', filename='be_assets/css/vendors/themify.css') }}" rel="stylesheet">
<!-- Feather icon css -->

<link href="{{ url_for('static', filename='be_assets/css/vendors/feather-icon.css') }}" rel="stylesheet">
<!-- remixicon css -->

<link href="{{ url_for('static', filename='be_assets/css/remixicon.css') }}" rel="stylesheet">
<!-- Data Table css -->

<link href="{{ url_for('static', filename='be_assets/css/datatables.css') }}" rel="stylesheet">

<!-- Plugins css -->

<link href="{{ url_for('static', filename='be_assets/css/vendors/scrollbar.css') }}" rel="stylesheet">

<!-- Bootstrap css -->

<link href="{{ url_for('static', filename='be_assets/css/vendors/bootstrap.css') }}" rel="stylesheet">
<!-- App css -->

<link href="{{ url_for('static', filename='be_assets/css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='be_assets/css/vendors/scrollbar.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='be_assets/css/vendors/animate.css') }}" rel="stylesheet">


{% endblock %}
{% block content %}
<main class="main" =">

    <div class="page-body container" style="position: relative; top: 150px;">
        <!-- tracking table start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="title-header title-header-block package-card">
                                <div>
                                    <h5>Order #000{{invoice[0].id}}</h5>
                                </div>
                                <div class="card-order-section">
                                    <ul>
                                        <li>{{invoice[0].date_billed}}</li>
                                        <li>{{counter}} items</li>
                                        <li>Total ${{totalprice}}.00</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="bg-inner cart-section order-details-table">
                                <div class="row g-4">
                                    <div class="col-xl-8">
                                        <div class="table-responsive table-details">
                                            <table class="table cart-table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">Items {{counter}}</th>
                                                        <th class="text-end" colspan="2">
                                                            <a href="javascript:void(0)"
                                                               class="theme-color">
                                                                Edit
                                                                Items
                                                            </a>
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% if counter == 0 %}
                                                    <tr class="table-order">
                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <img src='https://images.unsplash.com/photo-1553877522-43269d4ea984?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'
                                                                     class="img-fluid blur-up lazyload" alt="">
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <p>Product Name</p>
                                                            <h5>Consultation</h5>
                                                        </td>
                                                        <td>
                                                            <p>Quantity</p>
                                                            <h5>1</h5>
                                                        </td>
                                                        <td>
                                                            <p>Price</p>
                                                            <h5>${{invoice[0].amount}}.00</h5>
                                                        </td>
                                                    </tr>
                                                    {% endif %}


                                                    {% for i in range(counter) %}
                                                    <tr class="table-order">
                                                        <td>
                                                            <a href="javascript:void(0)">
                                                                <img src={{ baskets[invoice[0].id].products[i].image_url }}
                                                                     class="img-fluid blur-up lazyload" alt="">
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <p>Product Name</p>
                                                            <h5>{{baskets[invoice[0].id].products[i].name}}</h5>
                                                        </td>
                                                        <td>
                                                            <p>Quantity</p>
                                                            <h5>1</h5>
                                                        </td>
                                                        <td>
                                                            <p>Price</p>
                                                            <h5>${{baskets[invoice[0].id].products[i].price}}.00</h5>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}



                                                </tbody>

                                                {% if counter == 0 %}
                                                <tfoot>
                                                    <tr class="table-order">
                                                        <td colspan="3">
                                                            <h5>Subtotal :</h5>
                                                        </td>
                                                        <td>
                                                            <h4>${{consult_subtotal}}</h4>
                                                        </td>
                                                    </tr>

                                                    <tr class="table-order">
                                                        <td colspan="3">
                                                            <h5>Discount :</h5>
                                                        </td>
                                                        <td>
                                                            <h4>-$({{discount}}.00)</h4>
                                                        </td>
                                                    </tr>

                                                    <tr class="table-order">
                                                        <td colspan="3">
                                                            <h5>Tax(GST) :</h5>
                                                        </td>
                                                        <td>
                                                            <h4>{{consult_tax}}</h4>
                                                        </td>
                                                    </tr>

                                                    <tr class="table-order">
                                                        <td colspan="3">
                                                            <h4 class="theme-color fw-bold">Total Price :</h4>
                                                        </td>
                                                        <td>
                                                            <h4 class="theme-color fw-bold">${{invoice[0].amount}}.00</h4>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                                {% else %}
                                                <tfoot>
                                                    <tr class="table-order">
                                                        <td colspan="3">
                                                            <h5>Subtotal :</h5>
                                                        </td>
                                                        <td>
                                                            <h4>${{pretax_total}}</h4>
                                                        </td>
                                                    </tr>

                                                    <tr class="table-order">
                                                        <td colspan="3">
                                                            <h5>Discount :</h5>
                                                        </td>
                                                        <td>
                                                            <h4>-$({{discount}}.00)</h4>
                                                        </td>
                                                    </tr>

                                                    <tr class="table-order">
                                                        <td colspan="3">
                                                            <h5>Tax(GST) :</h5>
                                                        </td>
                                                        <td>
                                                            <h4>{{tax}}</h4>
                                                        </td>
                                                    </tr>

                                                    <tr class="table-order">
                                                        <td colspan="3">
                                                            <h4 class="theme-color fw-bold">Total Price :</h4>
                                                        </td>
                                                        <td>
                                                            <h4 class="theme-color fw-bold">${{totalprice}}.00</h4>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="order-success">
                                            <div class="row g-4">
                                                <h4>summery</h4>
                                                <ul class="order-details">
                                                    <li>Order ID: #000{{invoice[0].id}}</li>
                                                    <li>Order Date: {{invoice[0].date_billed}}</li>
                                                    <li>Order Total: ${{invoice[0].amount}}.00</li>
                                                </ul>

                                                <h4>shipping address</h4>
                                                <ul class="order-details">
                                                    <li>{{users[invoice[0].customer_id].first_name}} {{users[invoice[0].customer_id].last_name}} </li>
                                                    {{test}}
                                                </ul>

                                                <div class="payment-mode">
                                                    <h4>payment method</h4>
                                                    <p>
                                                        {{ invoice[0].payment_info }}
                                                    </p>
                                                </div>

                                                <div class="delivery-sec">
                                                    <h3>
                                                        expected date of delivery: <span>{{invoice[0].date_billed}}</span>
                                                    </h3>
                                                    <a href="order-tracking.html">track order</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- section end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tracking table end -->

        <div class="container-fluid">

        </div>
    </div>
    <!-- tracking section End -->


</main>


<!-- page-wrapper End -->
<!-- Modal start -->
<!--<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
                <p>Are you sure you want to log out?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                <div class="button-box">
                    <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn  btn--yes btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Modal end -->
{% endblock %}
{% block scripts %}
<!-- latest js -->
<script src="assets/"></script>
<script src="{{ url_for('static', filename='be_assets/js/jquery-3.6.0.min.js') }}"></script>

<!-- Bootstrap js -->

<script src="{{ url_for('static', filename='be_assets/js/bootstrap/bootstrap.bundle.min.js') }}"></script>

<!-- feather icon js -->
<script src="assets/js/icons/feather-icon/feather.min.js"></script>
<script src="assets/js/icons/feather-icon/feather-icon.js"></script>

<!-- scrollbar simplebar js -->
<script src="assets/js/scrollbar/simplebar.js"></script>
<script src="assets/js/scrollbar/custom.js"></script>

<!-- Sidebar js -->
<script src="assets/js/config.js"></script>
<script src="{{ url_for('static', filename='be_assets/js/config.js') }}"></script>
<!-- customizer js -->
<script src="assets/js/customizer.js"></script>

<!-- Plugins js -->
<script src="assets/js/sidebar-menu.js"></script>
<script src="assets/js/notify/bootstrap-notify.min.js"></script>
<script src="assets/js/notify/index.js"></script>

<!-- sidebar effect -->
<script src="assets/js/sidebareffect.js"></script>

<!-- Theme js -->


<script src="{{ url_for('static', filename='be_assets/js/script.js') }}"></script>
{% endblock %}
