{% extends 'base.html' %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Recent Orders</h1>
        <h6 class="text-success card-title ">  ✔️ Live Updates</h6>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Finance</li>
                <li class="breadcrumb-item active">Recent Orders</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-12">

                <div class="col-12">
                    <div class="card recent-sales overflow-auto">


                        <div class="card-body">
                            <h5 class="card-title">Recent Sales by Product <span>| past 24 hours</span></h5>

                            <table class="datatable table table-borderless ">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in sales %}
                                    {% for product in sale.products %}
                                    <tr>
                                        <th scope="row"><a href="/invoice/{{ sale.id }}">#{{sale.id}}</a></th>
                                        <td>{{customers[sale.customer_id].first_name}} {{customers[sale.customer_id].last_name}}</td>
                                        <td><a href="#" class="text-primary">{{product.name}}</a></td>
                                        <td>${{product.price}}</td>
                                        <td>{{ sale.submitted_at.strftime('%B %d, %Y') }}</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                    {% endfor %}
                                    {% endfor %}
                                    <tr>
                                        <th scope="row"><a href="#">#2147</a></th>
                                        <td>Bridie Kessler</td>
                                        <td><a href="#" class="text-primary">Test transaction</a></td>
                                        <td>$47</td>
                                        <td>None</td>
                                        <td><span class="badge bg-warning">Pending</span></td>
                                    </tr>

                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>Angus Grady</td>
                                        <td><a href="#" class="text-primar">Test transaction</a></td>
                                        <td>$67</td>
                                        <td>None</td>
                                        <td><span class="badge bg-danger">Rejected</span></td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <!-- End Recent Sales -->

            </div>

            <div class="col-12">

                <div class="col-12">
                    <div class="card recent-sales overflow-auto">


                        <div class="card-body">
                            <h5 class="card-title">Recent Sales by Cart <span>| past 24 hours</span></h5>

                            <table class="datatable table table-borderless ">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Customer</th>
                                        <th scope="col">Products</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in sales %}
                                    
                                    <tr>
                                        <th scope="row"><a href="/invoice/{{ sale.id }}">#{{sale.id}}</a></th>
                                        <td>{{customers[sale.customer_id].first_name}} {{customers[sale.customer_id].last_name}}</td>
                                        <td><a href="#" class="text-primary">{{sale.products|length}}</a></td>
                                        <td>${{sale.amount}}</td>
                                        <td>{{ sale.submitted_at.strftime('%B %d, %Y') }}</td>
                                        <td><span class="badge bg-success">Approved</span></td>
                                    </tr>
                                    
                                    {% endfor %}
                                    <tr>
                                        <th scope="row"><a href="#">#2147</a></th>
                                        <td>Bridie Kessler</td>
                                        <td><a href="#" class="text-primary">Test transaction</a></td>
                                        <td>$47</td>
                                        <td>None</td>
                                        <td><span class="badge bg-warning">Pending</span></td>
                                    </tr>

                                    <tr>
                                        <th scope="row"><a href="#">#2644</a></th>
                                        <td>Angus Grady</td>
                                        <td><a href="#" class="text-primar">Test transaction</a></td>
                                        <td>$67</td>
                                        <td>None</td>
                                        <td><span class="badge bg-danger">Rejected</span></td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <!-- End Recent Sales -->

            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}