{% extends 'base.html'%}
{% block hidenav %}
{% endblock %}
{% block bodyclass%}toggle-sidebar{% endblock %}
{% block menustyle%}"margin-left: 0px;"{% endblock %}

{% block metadata %}

<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/title_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">

{% endblock %}
{% block content %}

<!-- partial:index.partial.html -->
<div class="page-wrap  " style="min-height: 100%">
    <div class="row justify-content-center" style="">
        <div class="page-header row   " style="overflow:hidden;">

            <nav style="background-color: rgba(100, 121, 234, 0.49); padding: 0;">
                <h1>Budly | <i class="bx bxs-bot p-1" style="color: mediumpurple; position: relative; top: 5px; background-color: rgba(255,255,255,.7); font-size: 30px; border-radius: 50px;"></i> </h1>
                <ul>
                    <li>About Us</li>
                    <li>Contact Us</li>
                    <li id="burger" style="position: relative; right: 55px; top: 15px;">

                    <button class="btn m-6 text-light shadow" style="background-color: mediumpurple; border: 3px solid rgba(255, 255, 255, 0.7);  ">Explore</button>



                    </li>
                </ul>
            </nav>


            <main>
                <article id="hero-1" style="--i: 5; ">
                    <div class="hero-info">
                        <h2>Discover your</h2>
                        <h1>potential</h1>
                        <h3></h3>
                    </div>
                    <div class="hero-image hi-1"></div>
                </article>

                <article id="hero-2" style="--i: 4">
                    <div class="hero-info">
                        <h2>Savour the</h2>
                        <h1>Journey</h1>
                        <h3></h3>
                    </div>
                    <div class="hero-image hi-2"></div>

                </article>

                <article id="hero-3" style="--i: 3">
                    <div class="hero-info">
                        <h2>Expand Your</h2>
                        <h1>Horizons</h1>
                        <h3></h3>
                    </div>
                    <div class="hero-image hi-3"></div>

                </article>

                <article id="hero-4" style="--i: 2">
                    <div class="hero-info">
                        <h2>Explore and</h2>
                        <h1>Reflect</h1>
                        <h3></h3>
                    </div>
                    <div class="hero-image hi-4"></div>

                </article>

                <article id="hero-5" style="--i: 1">
                    <div class="hero-info">
                        <h2>Change Your</h2>
                        <h1>Perspective</h1>
                        <h3></h3>
                    </div>
                    <div class="hero-image hi-5"></div>
                </article>


            </main>

        </div>


        <section class="title col-12 col-md-10 col-lg-8 col-xl-8 section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4" style="background-color: transparent">
            <div class="container rounded">

                <div class="row justify-content-center ">

                    <div class="d-flex justify-content-center mb-2 col-10 col-sm-8 col-xl-5 col-lg-7 col-md-6 p-2" style="position: absolute; top: 20%; right: 10%;">
                        <!--style="background-color: rgba(255, 255, 255, .7); border: 5px solid rgba(100, 121, 234, 0.49); "-->
                        <a href="index.html" class="logo d-flex align-items-center w-auto" style="text-decoration: none;">

                            <img src="assets/img/logo.png" alt="">
                            <span class=" d-lg-block  mb-2" style="font-size: 55px; -webkit-text-stroke: 2px white; color: transparent;"> Budly</span>  <i class="bx bxs-bot p-1" style="color: mediumpurple; position: relative; top: 5px; background-color: rgba(255,255,255,.7); font-size: 35px; border-radius: 50px;"></i>
                        </a>
                    </div>
                    <div class="col-10 col-xl-5 col-lg-7 col-md-6 col-sm-8  d-flex flex-column align-items-center justify-content-center rounded p-4 shadow" style="position: absolute; top: 30%; right: 10%; background-color: rgba(255,255,255,.7); border: 5px solid rgba(100, 121, 234, 0.49); ">



                        <div class="card mb-3" style="background-color: rgba(100, 121, 234, 0.49);">

                            <div class="card-body">

                                <div class="pt-2 pb-2">

                                    <h5 class="card-title text-center pb-0 fs-4 ">Login to your account </h5>
                                    <p class="text-center small text-dark">Enter your username & password to login</p>
                                </div>


                                <form class="row  justify-content-center g-3 needs-validation" method="POST" action="/pages-login">

                                    <div class="col-xl-10">
                                        {{ form.hidden_tag() }}
                                        {{ form.username.label(class_="form-label") }}
                                        <div class="input-group has-validation">
                                            <span class="input-group-text bg-dark text-light" id="inputGroupPrepend">@</span>
                                            {{ form.username(class_="form-control  round") }}
                                            <div class="invalid-feedback">Please enter your username.</div>
                                        </div>
                                    </div>

                                    <div class="col-xl-10">
                                        <label for="yourPassword" class="form-label">Password</label>
                                        {{ form.password(class_="form-control  round") }}
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                    <div class="col-xl-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                            <label class="form-check-label" for="rememberMe">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-primary w-100" type="submit">Login</button>
                                    </div>
                                    <div class="col-xl-10">
                                        <p class="small mb-0">Don't have account? <a href="pages-register.html">Create an account</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                            <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
                        </div>

                    </div>
                </div>
            </div>

        </section>
    </div>


</div>

<!--<section>
    <ul class="level-1">
        <li>
            <h3>Destinations</h3>
            <ul class="level-2">
                <li>
                    <p>Asia</p>
                    <ul class="level-3">
                        <li>Bali</li>
                        <li>Cambodia</li>
                        <li>Georgia</li>
                        <li>India</li>
                        <li>Indonesia</li>
                        <li>Laos</li>
                        <li>Malaysia</li>
                        <li>Maldives</li>
                        <li>Myanmar</li>
                        <li>Philippines</li>
                        <li>Singapore</li>
                        <li>Sri Lanka</li>
                        <li>Thailand</li>
                        <li>Uzbekistan</li>
                        <li>Vietnam</li>
                    </ul>
                </li>
                <li>
                    <p>Europe</p>
                    <ul class="level-3">
                        <li>Czech Republic</li>
                        <li>France</li>
                        <li>Georgia</li>
                        <li>Greece</li>
                        <li>Hungary</li>
                        <li>Iceland</li>
                        <li>Italy</li>
                        <li>Malta</li>
                        <li>Netherlands</li>
                        <li>Poland</li>
                        <li>Portugal</li>
                        <li>Spain</li>
                        <li>Turkey</li>
                    </ul>
                </li>
                <li>
                    <p>Africa</p>
                    <ul class="level-3">
                        <li>Egypt</li>
                        <li>Maurtius</li>
                        <li>Morocco</li>
                    </ul>
                </li>
                <li>
                    <p>Middle East</p>
                    <ul class="level-3">
                        <li>Egypt</li>
                        <li>Jordan</li>
                        <li>Oman</li>
                        <li>Turkey</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <h3>Travel Tips</h3>
            <ul>
                <li>Going on a trip</li>
                <li>Travel Insurance</li>
                <li>Working abroad</li>
                <li>Saving</li>
                <li>Instagram tips</li>
            </ul>
            <p><small>More tips...</small></p>
        </li>
        <li>
            <h3>Resources</h3>
            <ul>
                <li>Personalised travel advice</li>
                <li>Where we book our travels</li>
                <li>Become a booking agent</li>
            </ul>
            <p><small>More resources...</small></p>
        </li>
        <li>
            <h3>About Us</h3>
            <ul>
                <li>Our story</li>
                <li>Work with us</li>
                <li>Instagram</li>
                <li>YouTube</li>
            </ul>
        </li>
    </ul>
</section>-->
   

{% endblock %}
<!-- partial -->
{% block scripts %}
<script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
<script src="{{ url_for('static', filename='js/title_script.js') }}"></script>
{% endblock %}



